body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* section {
    height: 80vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    border-radius: 10px;
} */

.about-section div {
    display: flex; /* Tambahkan properti flex */
    flex-direction: column; /* Atur flex direction ke column */
    align-items: center; /* Pusatkan item secara horizontal */
}

.about-section h1 span {
    font-weight: bold;
}

.about-section h1 .red {
    color:#CD4631;
}

.about-section h1 .black {
    color: #000000;
}

.info-section {
    background-color: #F3E8E6;
    
}
.item{
    border: none !important; 
    width: 20% !important; 
    margin-top: -1rem !important; 
    color: white !important;
}
.logosection {
    position: absolute;
    top: -25px; /* Sesuaikan nilai ini untuk menentukan tinggi relatif logo terhadap card */
    left: 30%;
    transform: translateX(-50%);
    z-index: 2; /* Pastikan logo di atas card dan section about */
}


.detail-container .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
     z-index: 1;
}

.detail-container{
    margin-top: 20px;
}

.detail-container .card {
    margin: 0 10px 20px; 
    padding: 20px;
    border-radius: 10px;
    color: black;
    min-width: 260px;
    max-width: 300px;
    min-height: 100px;
}

.logo{
    margin-top: 8px;
    margin-left: 8px;
    width: 13rem;
}

.CideraAsset1{
    margin-top: 38px;
    margin-right: 70px ;
    width : 450px;
    text-align: center;
}

.info_desc{
    margin-top: 10rem;
    margin-left: 14rem;
}

/* .infodesc1{
    margin-top: 6rem;
    margin-left: 40rem;
    width: 35%;
} */

.infodesc1 {
    margin-top: 8rem;
    margin-left: 40rem;
    width: 50%; /* Sesuaikan width agar tidak terlalu lebar */
}

/* .cidera{
    margin-top: 10rem;
    margin-right: 14rem;
    width: 300px;
} */

.cidera1{
    margin-top: 10rem;
    margin-left: 14rem;
    width: 60%;
}


.cidera-list{
    margin-top: 20px;
}

.cideralist1{
    margin-top: 20px;
    margin-right: 100px;
}

.obatdesc{
    margin-top: 5rem;
    margin-left: 40rem;
    width: 35%;
}

.obat-section {
    background-color: #FFFEFE;
    height: 55vh;
    
}

.info-section .cidera {
    margin-left: 225px; /* Sesuaikan margin untuk memberi ruang di sisi kiri */
    width: 300px; 
    margin-top: 10rem;  
    margin-right: 14rem;  
}

.obat-section .obat {
    margin-left: 225px;  
    width: 300px;
    margin-top: 70px;
    /* margin-right: 9rem;  */
}
/* 
.information-section{
    height: 85vh;
} */

.information-section {
    text-align: center;
    padding: 3rem;
    background-color: #81ADC8;

}

.information-section .card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap; 
}

.information-section .card {
    background-color: #F3E8E6;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    margin: 10px; 
    max-width: 700px;
    max-height: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-section .card img {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Hospital_detail{
    text-align: justify;
    text-align: 1p;
}

.caution-section{
    text-align: center;
    background: #CD4631;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caution {
    color: black; /* Tambahkan warna teks sesuai kebutuhan */
    font-style: italic;
}





